# Task 1: Small case scenario of dataset analysis

## 1.1 - Create a dataset (The Tate Collection)
As a first example, we will create our own small dataset. In particular, the dataset will consist of 10 artists which are present in the Tate Collection along with the corresponding year of birth, year of death, biological gender and number of artworks.

|          Name         | Gender |   Year_Birth  |   Year_Death  | N_works |
|-----------------------|--------|---------------|---------------|---------|
|     Beuys, Joseph     |  Male  |      1921	 |      1986     |   588   |
|    Constable, John    |  Male  |      1776	 |      1837	 |   249   |
|   Daniell, William    |  Male  |      1769	 |      1837	 |   612   |
|   Forbes, Elizabeth   | Female |      1859	 |      1912	 |   120   |
|     Flaxman, John     |  Male  |      1755	 |      1826	 |   287   |
|    Phillips, Thomas   |  Male  |      1770	 |      1845	 |   274   |
| Paolozzi, Sir Eduardo |  Male  |      1924	 |      2005	 |   385   |
|     Schendel, Mira    | Female |      1919	 |      1988	 |    3    |
|    Turner, William    |  Male  |      1775	 |      1851	 |  1861   |
|      Warhol, Andy     |  Male  |      1928	 |      1987	 |   272   |

**_[TO DO]_**: Let's create a DataFrame named **TateDataset** with the information showed in the above table.

**Note:** You can create arrays for each column and then build the DataFrame.
Remember to import the required libraries!

In [1]:
# @title Imports
import numpy as np
import pandas as pd

In [2]:
### TODO
Name = np.array(["Beuys, Joseph", "Constable, John", "Daniell, William", "Forbes, Elizabeth", "Flaxman, John", "Phillips, Thomas", "Paolozzi, Sir Eduardo", "Schendel, Mira", "Turner, William", "Warhol, Andy"])
Gender = np.array(["Male", "Male", "Male", "Female", "Male", "Male", "Male", "Female", "Male", "Male"])
Year_Birth = np.array([1921, 1776, 1769, 1859, 1755, 1770, 1924, 1919, 1775, 1928])
Year_Death = np.array([1986, 1837, 1837, 1912, 1826, 1845, 2005, 1988, 1851, 1987])
N_works = np.array([588, 249, 612, 120, 287, 274, 385, 3, 1861, 272])

tate_dataset = pd.DataFrame({'Name': Name, 'Gender': Gender, 'Year_Birth': Year_Birth, 'Year_Death': Year_Death, 'N_works': N_works})
print(tate_dataset)

                    Name  Gender  Year_Birth  Year_Death  N_works
0          Beuys, Joseph    Male        1921        1986      588
1        Constable, John    Male        1776        1837      249
2       Daniell, William    Male        1769        1837      612
3      Forbes, Elizabeth  Female        1859        1912      120
4          Flaxman, John    Male        1755        1826      287
5       Phillips, Thomas    Male        1770        1845      274
6  Paolozzi, Sir Eduardo    Male        1924        2005      385
7         Schendel, Mira  Female        1919        1988        3
8        Turner, William    Male        1775        1851     1861
9           Warhol, Andy    Male        1928        1987      272

## 1.2 - Data Acquisition (local file)

Data acquisition is a process of loading and reading data from various sources. We will learn how to export and read data from a local file in different format using  **Pandas** package. 

A file format is a standardised way in which information is encoded to be stored in a file. Some examples of file formats are: CSV, XLSX, and PKL. 

Let's practice with some examples.

### .CSV - Comma Separated Values

CSV is one of the most popular spreadsheet file format. In this kind of file, data is stored in cells. Each cell is organized in rows and columns. A column in the spreadsheet file can have different types. 

Let us look at how to create a CSV file. We can export a DataFrame with the Pandas function `to_csv()`. The file will be saved in the same location of this notebook unless specified otherwise. We can name the file **TateData.csv**.

**Note:** Once you have run the following cell, check the output file .

In [3]:
tate_dataset.to_csv('tate_dataset.csv', index=False, header=True)

To pull in the csv file, we will use the Pandas function `read_csv()`. We will import the previous file in a new DataFrame.

**Note:**  Depending on where you save your notebooks, you may need to modify the location below.

In [4]:
tate_1 = pd.read_csv('tate_dataset.csv')
tate_1

                    Name  Gender  Year_Birth  Year_Death  N_works
0          Beuys, Joseph    Male        1921        1986      588
1        Constable, John    Male        1776        1837      249
2       Daniell, William    Male        1769        1837      612
3      Forbes, Elizabeth  Female        1859        1912      120
4          Flaxman, John    Male        1755        1826      287
5       Phillips, Thomas    Male        1770        1845      274
6  Paolozzi, Sir Eduardo    Male        1924        2005      385
7         Schendel, Mira  Female        1919        1988        3
8        Turner, William    Male        1775        1851     1861
9           Warhol, Andy    Male        1928        1987      272

When we create the .CSV file, the only parameter we have used is **index**. 

**[TO DO]** What happens if we set the *index* parameter to True? And if you set also the parameter **header** to False?
Try by yourself.

In [5]:
### TODO
tate_dataset.to_csv('tate_dataset.csv', index=True, header=True)
tate_1 = pd.read_csv('tate_dataset.csv')
tate_1

   Unnamed: 0                   Name  Gender  Year_Birth  Year_Death  N_works
0           0          Beuys, Joseph    Male        1921        1986      588
1           1        Constable, John    Male        1776        1837      249
2           2       Daniell, William    Male        1769        1837      612
3           3      Forbes, Elizabeth  Female        1859        1912      120
4           4          Flaxman, John    Male        1755        1826      287
5           5       Phillips, Thomas    Male        1770        1845      274
6           6  Paolozzi, Sir Eduardo    Male        1924        2005      385
7           7         Schendel, Mira  Female        1919        1988        3
8           8        Turner, William    Male        1775        1851     1861
9           9           Warhol, Andy    Male        1928        1987      272

Delete the csv file now that we are done using it.

### pickle — Python object serialization

This data format is Python-specific. This has the advantage that there are no restrictions imposed by external standards; however it means that non-Python programs may not be able to reconstruct pickled Python objects.

In [6]:
import pickle

tate_dataset.to_pickle('tate_dataset.pkl')

In [7]:
tate_2 = pd.read_pickle('tate_dataset.pkl')
tate_2

                    Name  Gender  Year_Birth  Year_Death  N_works
0          Beuys, Joseph    Male        1921        1986      588
1        Constable, John    Male        1776        1837      249
2       Daniell, William    Male        1769        1837      612
3      Forbes, Elizabeth  Female        1859        1912      120
4          Flaxman, John    Male        1755        1826      287
5       Phillips, Thomas    Male        1770        1845      274
6  Paolozzi, Sir Eduardo    Male        1924        2005      385
7         Schendel, Mira  Female        1919        1988        3
8        Turner, William    Male        1775        1851     1861
9           Warhol, Andy    Male        1928        1987      272

## 1.3 - Look at the data

Now we will simply have a look at the data and make sure it is clean. 

### Data type
Let's check the data type of the imported variables and the original DataFrame.

In [8]:
# Check data type of the columns for Tate_1
tate_1.dtypes

Unnamed: 0     int64
Name          object
Gender        object
Year_Birth     int64
Year_Death     int64
N_works        int64
dtype: object

In [9]:
# Check data type of the columns for TateDataset
tate_dataset.dtypes

Name          object
Gender        object
Year_Birth     int32
Year_Death     int32
N_works        int32
dtype: object

We can also display the values of a single column and check their data type as follow:

In [10]:
tate_dataset['Gender']

0      Male
1      Male
2      Male
3    Female
4      Male
5      Male
6      Male
7    Female
8      Male
9      Male
Name: Gender, dtype: object

# Task 2: Application Programming Interfaces (APIs)

## 2.1 - Downloading climate data from the Internet

We will now explore real world data, namely a dataset of climate information of 5 cities in Denmark between 1980-2018. The original raw-data was originally obtained from [National Climatic Data Center (NCDC)](https://www7.ncdc.noaa.gov/CDO/cdoselect.cmd).

In particular, the selected cities in Denmark are:
- Aalborg, 
- Aarhus, 
- Esbjerg, 
- Odense. 
- Roskilde

In the following, we will download the dataset using an API instead of loading a local source file.

### What is an API? 
Application Programming Interface (API) is a communication protocol between the user and the server (i.e., web server) that enables transmittion of data. The user making a request to an API server can download the desidered resources. 

### How to make a request in python?
There are many different way to request data. 
In the following, we will use the package **urllib** that collects several modules for working with URLs.

In particular, [urlib.request](https://docs.python.org/3/library/urllib.request.html#module-urllib.request) is a module for opening and reading URLs.

### - Download climate data


The following functions allow to download and store the dataset in a specific folder.

How to use:

- Set the source (i.e., URL) of the desidered dataset in `data_url`.
- Set the `data_dir` variable with the local directory where to store the data.
- Call `download_and_extract()` to download the dataset if it is not already located in the given data_dir.
- Load the data in the interactive Python notebook so ic can be used in your scripts (you can use `load_original_data()`).

In [11]:
#@title Functions to download data 
########################################################################
#
# This file is a partially modified version of one of the TensorFlow Tutorials available at:
#
# https://github.com/Hvass-Labs/TensorFlow-Tutorials
#
# Published under the MIT License. See the file LICENSE for details.
#
# Copyright 2018 by Magnus Erik Hvass Pedersen
#
########################################################################

import sys
import os
import urllib.request
import tarfile
import zipfile



def _print_download_progress(count, block_size, total_size):
    """
    Function used for printing the download progress.
    Used as a call-back function in maybe_download_and_extract().
    """

    # Percentage completion.
    pct_complete = float(count * block_size) / total_size

    # Limit it because rounding errors may cause it to exceed 100%.
    pct_complete = min(1.0, pct_complete)

    # Status-message. Note the \r which means the line should overwrite itself.
    msg = "\r- Download progress: {0:.1%}".format(pct_complete)

    # Print it.
    sys.stdout.write(msg)
    sys.stdout.flush()


def download(base_url, filename, download_dir):
    """
    Download the given file if it does not already exist in the download_dir.
    :param base_url: The internet URL without the filename.
    :param filename: The filename that will be added to the base_url.
    :param download_dir: Local directory for storing the file.
    """

    # Path for local file.
    save_path = os.path.join(download_dir, filename)

    # Check if the file already exists, otherwise we need to download it now.
    if not os.path.exists(save_path):
        # Check if the download directory exists, otherwise create it.
        if not os.path.exists(download_dir):
            os.makedirs(download_dir)

        print("Downloading", filename, "...")

        # Download the file from the internet.
        url = base_url + filename
        file_path, _ = urllib.request.urlretrieve(url=url,
                                                  filename=save_path,
                                                  reporthook=_print_download_progress)

        print(" Done!")


def download_and_extract(url, download_dir):
    """
    Download and extract the data if it doesn't already exist.
    Assumes the url is a tar-ball file.
    :param url:
        Internet URL for the tar-file to download.
    :param download_dir:
        Directory where the downloaded file is saved.
    """

    # Filename for saving the file downloaded from the internet.
    # Use the filename from the URL and add it to the download_dir.
    filename = url.split('/')[-1]
    file_path = os.path.join(download_dir, filename)

    # Check if the file already exists.
    # If it exists then we assume it has also been extracted,
    # otherwise we need to download and extract it now.
    if not os.path.exists(file_path):
        # Check if the download directory exists, otherwise create it.
        if not os.path.exists(download_dir):
            os.makedirs(download_dir)

        # Download the file from the internet.
        file_path, _ = urllib.request.urlretrieve(url=url,
                                                  filename=file_path,
                                                  reporthook=_print_download_progress)

        print()
        print("Download finished. Extracting files.")

        if file_path.endswith(".zip"):
            # Unpack the zip-file.
            zipfile.ZipFile(file=file_path, mode="r").extractall(download_dir)
        elif file_path.endswith((".tar.gz", ".tgz")):
            # Unpack the tar-ball.
            tarfile.open(name=file_path, mode="r:gz").extractall(download_dir)

        print("Done.")
    else:
        print("Data has apparently already been downloaded and unpacked.")

First, we define where we want to download the dataset (you are free to choose another directory) and the URL of the dataset to be downloaded.

In [12]:
# Location of the dataset on the internet.
data_url = "https://github.com/Hvass-Labs/weather-denmark/raw/master/weather-denmark.tar.gz"

# Local directory where you want to download and save the dataset.
data_dir = "weather-data/"

Now, we can download the dataset into the chosen local directory

In [13]:
download_and_extract(url=data_url, download_dir=data_dir)

- Download progress: 100.0%
Download finished. Extracting files.
Done.

**[TO DO]:** Check the local folder? In which format the dataset has been downloaded?

**[TO DO]:** Select a format and load the dataset .

In [14]:
### TODO
weather_csv = pd.read_csv('./weather-data/weather-denmark.csv')
weather_csv

             City             DateTime  Temp  Pressure  WindSpeed  WindDir
0         Aalborg  1980-03-01 00:00:00   5.0    1008.1       11.3    290.0
1         Aalborg  1980-03-01 00:20:00   4.0       NaN        9.2    270.0
2         Aalborg  1980-03-01 00:50:00   4.0       NaN        9.2    280.0
3         Aalborg  1980-03-01 01:20:00   4.0       NaN        9.2    280.0
4         Aalborg  1980-03-01 01:50:00   4.0       NaN        8.7    270.0
...           ...                  ...   ...       ...        ...      ...
2918145  Roskilde  2018-03-01 22:20:00  -5.0       NaN        5.1     70.0
2918146  Roskilde  2018-03-01 22:50:00  -5.0       NaN        4.1     70.0
2918147  Roskilde  2018-03-01 23:00:00  -5.3    1018.6        4.1     60.0
2918148  Roskilde  2018-03-01 23:20:00  -5.0       NaN        3.6     60.0
2918149  Roskilde  2018-03-01 23:50:00  -5.0       NaN        3.6     60.0

[2918150 rows x 6 columns]

In [15]:
### TODO
weather_pd = pd.read_pickle('./weather-data/weather-denmark.pkl')
weather_pd

                              Temp  Pressure  WindSpeed  WindDir
City     DateTime
Aalborg  1980-03-01 00:00:00   5.0    1008.1       11.3    290.0
         1980-03-01 00:20:00   4.0       NaN        9.2    270.0
         1980-03-01 00:50:00   4.0       NaN        9.2    280.0
         1980-03-01 01:20:00   4.0       NaN        9.2    280.0
         1980-03-01 01:50:00   4.0       NaN        8.7    270.0
...                            ...       ...        ...      ...
Roskilde 2018-03-01 22:20:00  -5.0       NaN        5.1     70.0
         2018-03-01 22:50:00  -5.0       NaN        4.1     70.0
         2018-03-01 23:00:00  -5.3    1018.6        4.1     60.0
         2018-03-01 23:20:00  -5.0       NaN        3.6     60.0
         2018-03-01 23:50:00  -5.0       NaN        3.6     60.0

[2918150 rows x 4 columns]

**More advanced solution for loading dataset**:

In this case, the dataset was downloaded in two different formats. 
We can define the path where the files have been stored as follows:
- **path_original_data_pickle( )** is the location of the original data in pickle format
- **path_original_data_csv( )** is the location the original data in .csv

In [16]:
def path_original_data_pickle():
    return os.path.join(data_dir, "weather-denmark.pkl")

def path_original_data_csv():
    return os.path.join(data_dir, "weather-denmark.csv")

Now we can load the data in pickle format through the following function:

In [17]:
def load_original_data():
    return pd.read_pickle(path_original_data_pickle())

In [18]:
df = load_original_data()
df

                              Temp  Pressure  WindSpeed  WindDir
City     DateTime
Aalborg  1980-03-01 00:00:00   5.0    1008.1       11.3    290.0
         1980-03-01 00:20:00   4.0       NaN        9.2    270.0
         1980-03-01 00:50:00   4.0       NaN        9.2    280.0
         1980-03-01 01:20:00   4.0       NaN        9.2    280.0
         1980-03-01 01:50:00   4.0       NaN        8.7    270.0
...                            ...       ...        ...      ...
Roskilde 2018-03-01 22:20:00  -5.0       NaN        5.1     70.0
         2018-03-01 22:50:00  -5.0       NaN        4.1     70.0
         2018-03-01 23:00:00  -5.3    1018.6        4.1     60.0
         2018-03-01 23:20:00  -5.0       NaN        3.6     60.0
         2018-03-01 23:50:00  -5.0       NaN        3.6     60.0

[2918150 rows x 4 columns]

### - Undestanding the data

**_[TO DO]_**: Have a quick overview of the downloaded dataset. 
In particular, focus on:

- Understanding the variables contained in the dataframe
- Check the DateTime for 2 cities

In [19]:
### TODO
print(df.xs('Aalborg').index)

print(df.xs('Roskilde').index)

DatetimeIndex(['1980-03-01 00:00:00', '1980-03-01 00:20:00',
               '1980-03-01 00:50:00', '1980-03-01 01:20:00',
               '1980-03-01 01:50:00', '1980-03-01 02:20:00',
               '1980-03-01 03:00:00', '1980-03-01 03:20:00',
               '1980-03-01 04:00:00', '1980-03-01 04:01:00',
               ...
               '2018-03-01 21:20:00', '2018-03-01 21:50:00',
               '2018-03-01 22:00:00', '2018-03-01 22:20:00',
               '2018-03-01 22:30:00', '2018-03-01 22:50:00',
               '2018-03-01 23:00:00', '2018-03-01 23:04:00',
               '2018-03-01 23:21:00', '2018-03-01 23:50:00'],
              dtype='datetime64[ns]', name='DateTime', length=759897, freq=None)
DatetimeIndex(['1980-03-01 10:50:00', '1980-03-01 12:50:00',
               '1980-03-01 13:50:00', '1980-03-01 15:50:00',
               '1980-03-01 16:50:00', '1980-03-02 04:50:00',
               '1980-03-02 06:50:00', '1980-03-02 07:50:00',
               '1980-03-02 09:50:00', '1980-03-02 10:50:00',
               ...
               '2018-03-01 20:50:00', '2018-03-01 21:00:00',
               '2018-03-01 21:20:00', '2018-03-01 21:50:00',
               '2018-03-01 22:00:00', '2018-03-01 22:20:00',
               '2018-03-01 22:50:00', '2018-03-01 23:00:00',
               '2018-03-01 23:20:00', '2018-03-01 23:50:00'],
              dtype='datetime64[ns]', name='DateTime', length=569852, freq=None)

## 2.2 - Interacting with a server to query a subset of some data bank

We will now learn how to query a data bank to retrieve only the relevant proportion data for a task. We will be using the World Bank Data API to access World's renewable energy consumtpion data.

You first need to install the World Bank API. In a terminal, run the following command:

``>> pip install wbdata``

In [20]:
%pip install wbdata

Requirement already satisfied: wbdata in c:\users\ys1ong\anaconda3\envs\elec0136\lib\site-packages (0.3.0)
Requirement already satisfied: requests>=2.0 in c:\users\ys1ong\anaconda3\envs\elec0136\lib\site-packages (from wbdata) (2.28.1)
Requirement already satisfied: appdirs<2.0,>=1.4 in c:\users\ys1ong\anaconda3\envs\elec0136\lib\site-packages (from wbdata) (1.4.4)
Requirement already satisfied: decorator>=4.0 in c:\users\ys1ong\anaconda3\envs\elec0136\lib\site-packages (from wbdata) (5.1.1)
Requirement already satisfied: tabulate>=0.8.5 in c:\users\ys1ong\anaconda3\envs\elec0136\lib\site-packages (from wbdata) (0.9.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ys1ong\anaconda3\envs\elec0136\lib\site-packages (from requests>=2.0->wbdata) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ys1ong\anaconda3\envs\elec0136\lib\site-packages (from requests>=2.0->wbdata) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ys1ong\anaconda3\envs\elec0136\lib\site-packages (from requests>=2.0->wbdata) (1.26.12)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\ys1ong\anaconda3\envs\elec0136\lib\site-packages (from requests>=2.0->wbdata) (2.1.1)
Note: you may need to restart the kernel to use updated packages.

In [21]:
#@title Imports
import wbdata as wb
import datetime

### - Query the World Bank

* **_[TO DO]_**: Use the wbdata to retrieve renewable energy consumption data of all countries in 2015.

Hint: [wbdata documentation](https://wbdata.readthedocs.io/en/stable/)

In [22]:
### TODO
wb.get_source()

  id  name
----  --------------------------------------------------------------------
   1  Doing Business
   2  World Development Indicators
   3  Worldwide Governance Indicators
   5  Subnational Malnutrition Database
   6  International Debt Statistics
  11  Africa Development Indicators
  12  Education Statistics
  13  Enterprise Surveys
  14  Gender Statistics
  15  Global Economic Monitor
  16  Health Nutrition and Population Statistics
  18  IDA Results Measurement System
  19  Millennium Development Goals
  20  Quarterly Public Sector Debt
  22  Quarterly External Debt Statistics SDDS
  23  Quarterly External Debt Statistics GDDS
  25  Jobs
  27  Global Economic Prospects
  28  Global Financial Inclusion
  29  The Atlas of Social Protection: Indicators of Resilience and Equity
  30  Exporter Dynamics Database – Indicators at Country-Year Level
  31  Country Policy and Institutional Assessment
  32  Global Financial Development
  33  G20 Financial Inclusion Indicators
  34  Global Partnership for Education
  35  Sustainable Energy for All
  36  Statistical Capacity Indicators
  37  LAC Equity Lab
  38  Subnational Poverty
  39  Health Nutrition and Population Statistics by Wealth Quintile
  40  Population estimates and projections
  41  Country Partnership Strategy for India (FY2013 - 17)
  43  Adjusted Net Savings
  45  Indonesia Database for Policy and Economic Research
  46  Sustainable Development Goals
  50  Subnational Population
  54  Joint External Debt Hub
  57  WDI Database Archives
  58  Universal Health Coverage
  59  Wealth Accounts
  60  Economic Fitness
  61  PPPs Regulatory Quality
  62  International Comparison Program (ICP) 2011
  63  Human Capital Index
  64  Worldwide Bureaucracy Indicators
  65  Health Equity and Financial Protection Indicators
  66  Logistics Performance Index
  67  PEFA 2011
  68  PEFA 2016
  69  Global Financial Inclusion and Consumer Protection Survey
  70  Economic Fitness 2
  71  International Comparison Program (ICP) 2005
  73  Global Financial Inclusion and Consumer Protection Survey (Internal)
  75  Environment, Social and Governance (ESG) Data
  76  Remittance Prices Worldwide (Sending Countries)
  77  Remittance Prices Worldwide (Receiving Countries)
  78  ICP 2017
  79  PEFA_GRPFM
  80  Gender Disaggregated Labor Database (GDLD)
  81  International Debt Statistics: DSSI
  82  Global Public Procurement
  83  Statistical Performance Indicators (SPI)
  84  Education Policy
  85  PEFA_2021_SNG
  86  Global Jobs Indicators Database (JOIN)
  87  Country Climate and Development Report (CCDR)
  88  Food Prices for Nutrition

### - Undestanding the data

* **_[TO DO]_**: Display different data points

In [23]:
### TODO
wb.get_indicator(source=35)

id                              name
------------------------------  --------------------------------------------------------------------------
1.1_ACCESS.ELECTRICITY.TOT      Access to electricity (% of total population)
1.1_TOTAL.FINAL.ENERGY.CONSUM   Total final energy consumption (TFEC)
1.2_ACCESS.ELECTRICITY.RURAL    Access to electricity (% of rural population)
1.3_ACCESS.ELECTRICITY.URBAN    Access to electricity (% of urban population)
2.1_ACCESS.CFT.TOT              Access to Clean Fuels and Technologies for cooking (% of total population)
2.1_SHARE.TOTAL.RE.IN.TFEC      Renewable energy consumption(% in TFEC)
3.1_RE.CONSUMPTION              Renewable energy consumption (TJ)
4.1.1_TOTAL.ELECTRICITY.OUTPUT  Total electricity output (GWh)
4.1.2_REN.ELECTRICITY.OUTPUT    Renewable energy electricity output (GWh)
4.1_SHARE.RE.IN.ELECTRICITY     Renewable electricity (% in total electricity output)
6.1_PRIMARY.ENERGY.INTENSITY    Energy intensity level of primary energy (MJ/$2005 PPP)

# - Exporting the data
* **_[TO DO]_**: Save the retrieved renewable energy consumption data of all countries in 2015 in one .xlsx file

In [24]:
### TODO
wb.search_indicators('renewable energy consumption')

id                          name
--------------------------  ------------------------------------------------------------------
2.1_SHARE.TOTAL.RE.IN.TFEC  Renewable energy consumption(% in TFEC)
3.1_RE.CONSUMPTION          Renewable energy consumption (TJ)
EG.FEC.RNEW.ZS              Renewable energy consumption (% of total final energy consumption)

In [25]:
web_data = wb.get_data("3.1_RE.CONSUMPTION")
#print(web_data)

In [26]:
import datetime

indicators = {"3.1_RE.CONSUMPTION": "Renewable energy consumption (TJ))"}
data_date = datetime.datetime(2015, 1, 1), datetime.datetime(2015, 12, 31)
df = wb.get_dataframe(indicators, data_date = data_date)
df

                            Renewable energy consumption (TJ))
country
BES Islands                                          112.78860
Nauru                                                  0.32988
Niue                                                  16.63123
Wallis and Futuna                                      0.00000
Caucasian and Central Asia                                 NaN
...                                                        ...
West Bank and Gaza                                  6701.55000
Western Sahara                                         0.00000
Yemen, Rep.                                         2433.20100
Zambia                                            301679.80000
Zimbabwe                                          324422.60000

[259 rows x 1 columns]

In [27]:
%pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\ys1ong\anaconda3\envs\elec0136\lib\site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in c:\users\ys1ong\anaconda3\envs\elec0136\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [28]:
import os

def mkdir(path):
    folder = os.path.exists(path)
    
    if not folder:
        os.makedirs(path)
        print("Successfully create a new folder")
        
    else:
        print("The folder already exists")

file = "./renewable_energy_consumption"
mkdir(file)

Successfully create a new folder

In [29]:
df.to_excel('./renewable_energy_consumption/retrieved_renewable_energy_cosumption_2015.xlsx')

* **_[TO DO]_**: Save the renewable energy consumption data from 2006 to 2016 for each European country in individual .csv files (one per country)

In [30]:
### TODO
wb_countries = wb.get_country()  
print(wb_countries)
print(len(wb_countries))

id    name
----  --------------------------------------------------------------------------------
ABW   Aruba
AFE   Africa Eastern and Southern
AFG   Afghanistan
AFR   Africa
AFW   Africa Western and Central
AGO   Angola
ALB   Albania
AND   Andorra
ARB   Arab World
ARE   United Arab Emirates
ARG   Argentina
ARM   Armenia
ASM   American Samoa
ATG   Antigua and Barbuda
AUS   Australia
AUT   Austria
AZE   Azerbaijan
BDI   Burundi
BEA   East Asia & Pacific (IBRD-only countries)
BEC   Europe & Central Asia (IBRD-only countries)
BEL   Belgium
BEN   Benin
BFA   Burkina Faso
BGD   Bangladesh
BGR   Bulgaria
BHI   IBRD countries classified as high income
BHR   Bahrain
BHS   Bahamas, The
BIH   Bosnia and Herzegovina
BLA   Latin America & the Caribbean (IBRD-only countries)
BLR   Belarus
BLZ   Belize
BMN   Middle East & North Africa (IBRD-only countries)
BMU   Bermuda
BOL   Bolivia
BRA   Brazil
BRB   Barbados
BRN   Brunei Darussalam
BSS   Sub-Saharan Africa (IBRD-only countries)
BTN   Bhutan
BWA   Botswana
CAA   Sub-Saharan Africa (IFC classification)
CAF   Central African Republic
CAN   Canada
CEA   East Asia and the Pacific (IFC classification)
CEB   Central Europe and the Baltics
CEU   Europe and Central Asia (IFC classification)
CHE   Switzerland
CHI   Channel Islands
CHL   Chile
CHN   China
CIV   Cote d'Ivoire
CLA   Latin America and the Caribbean (IFC classification)
CME   Middle East and North Africa (IFC classification)
CMR   Cameroon
COD   Congo, Dem. Rep.
COG   Congo, Rep.
COL   Colombia
COM   Comoros
CPV   Cabo Verde
CRI   Costa Rica
CSA   South Asia (IFC classification)
CSS   Caribbean small states
CUB   Cuba
CUW   Curacao
CYM   Cayman Islands
CYP   Cyprus
CZE   Czechia
DEA   East Asia & Pacific (IDA-eligible countries)
DEC   Europe & Central Asia (IDA-eligible countries)
DEU   Germany
DFS   IDA countries classified as Fragile Situations
DJI   Djibouti
DLA   Latin America & the Caribbean (IDA-eligible countries)
DMA   Dominica
DMN   Middle East & North Africa (IDA-eligible countries)
DNF   IDA countries not classified as Fragile Situations
DNK   Denmark
DNS   IDA countries in Sub-Saharan Africa not classified as fragile situations
DOM   Dominican Republic
DSA   South Asia (IDA-eligible countries)
DSF   IDA countries in Sub-Saharan Africa classified as fragile situations
DSS   Sub-Saharan Africa (IDA-eligible countries)
DZA   Algeria
EAP   East Asia & Pacific (excluding high income)
EAR   Early-demographic dividend
EAS   East Asia & Pacific
ECA   Europe & Central Asia (excluding high income)
ECS   Europe & Central Asia
ECU   Ecuador
EGY   Egypt, Arab Rep.
EMU   Euro area
ERI   Eritrea
ESP   Spain
EST   Estonia
ETH   Ethiopia
EUU   European Union
FCS   Fragile and conflict affected situations
FIN   Finland
FJI   Fiji
FRA   France
FRO   Faroe Islands
FSM   Micronesia, Fed. Sts.
FXS   IDA countries classified as fragile situations, excluding Sub-Saharan Africa
GAB   Gabon
GBR   United Kingdom
GEO   Georgia
GHA   Ghana
GIB   Gibraltar
GIN   Guinea
GMB   Gambia, The
GNB   Guinea-Bissau
GNQ   Equatorial Guinea
GRC   Greece
GRD   Grenada
GRL   Greenland
GTM   Guatemala
GUM   Guam
GUY   Guyana
HIC   High income
HKG   Hong Kong SAR, China
HND   Honduras
HPC   Heavily indebted poor countries (HIPC)
HRV   Croatia
HTI   Haiti
HUN   Hungary
IBB   IBRD, including blend
IBD   IBRD only
IBT   IDA & IBRD total
IDA   IDA total
IDB   IDA blend
IDN   Indonesia
IDX   IDA only
IMN   Isle of Man
IND   India
INX   Not classified
IRL   Ireland
IRN   Iran, Islamic Rep.
IRQ   Iraq
ISL   Iceland
ISR   Israel
ITA   Italy
JAM   Jamaica
JOR   Jordan
JPN   Japan
KAZ   Kazakhstan
KEN   Kenya
KGZ   Kyrgyz Republic
KHM   Cambodia
KIR   Kiribati
KNA   St. Kitts and Nevis
KOR   Korea, Rep.
KWT   Kuwait
LAC   Latin America & Caribbean (excluding high income)
LAO   Lao PDR
LBN   Lebanon
LBR   Liberia
LBY   Libya
LCA   St. Lucia
LCN   Latin America & Caribbean
LDC   Least developed countries: UN classification
LIC   Low income
LIE   Liechtenstein
LKA   Sri Lanka
LMC   Lower middle income
LMY   Low & middle income
LSO   Lesotho
LTE   Late-demographic dividend
LTU   Lithuania
LUX   Luxembourg
LVA   Latvia
MAC   Macao SAR, China
MAF   St. Martin (French part)
MAR   Morocco
MCO   Monaco
MDA   Moldova
MDE   Middle East (developing only)
MDG   Madagascar
MDV   Maldives
MEA   Middle East & North Africa
MEX   Mexico
MHL   Marshall Islands
MIC   Middle income
MKD   North Macedonia
MLI   Mali
MLT   Malta
MMR   Myanmar
MNA   Middle East & North Africa (excluding high income)
MNE   Montenegro
MNG   Mongolia
MNP   Northern Mariana Islands
MOZ   Mozambique
MRT   Mauritania
MUS   Mauritius
MWI   Malawi
MYS   Malaysia
NAC   North America
NAF   North Africa
NAM   Namibia
NCL   New Caledonia
NER   Niger
NGA   Nigeria
NIC   Nicaragua
NLD   Netherlands
NOR   Norway
NPL   Nepal
NRS   Non-resource rich Sub-Saharan Africa countries
NRU   Nauru
NXS   IDA countries not classified as fragile situations, excluding Sub-Saharan Africa
NZL   New Zealand
OED   OECD members
OMN   Oman
OSS   Other small states
PAK   Pakistan
PAN   Panama
PER   Peru
PHL   Philippines
PLW   Palau
PNG   Papua New Guinea
POL   Poland
PRE   Pre-demographic dividend
PRI   Puerto Rico
PRK   Korea, Dem. People's Rep.
PRT   Portugal
PRY   Paraguay
PSE   West Bank and Gaza
PSS   Pacific island small states
PST   Post-demographic dividend
PYF   French Polynesia
QAT   Qatar
ROU   Romania
RRS   Resource rich Sub-Saharan Africa countries
RUS   Russian Federation
RWA   Rwanda
SAS   South Asia
SAU   Saudi Arabia
SDN   Sudan
SEN   Senegal
SGP   Singapore
SLB   Solomon Islands
SLE   Sierra Leone
SLV   El Salvador
SMR   San Marino
SOM   Somalia
SRB   Serbia
SSA   Sub-Saharan Africa (excluding high income)
SSD   South Sudan
SSF   Sub-Saharan Africa
SST   Small states
STP   Sao Tome and Principe
SUR   Suriname
SVK   Slovak Republic
SVN   Slovenia
SWE   Sweden
SWZ   Eswatini
SXM   Sint Maarten (Dutch part)
SXZ   Sub-Saharan Africa excluding South Africa
SYC   Seychelles
SYR   Syrian Arab Republic
TCA   Turks and Caicos Islands
TCD   Chad
TEA   East Asia & Pacific (IDA & IBRD countries)
TEC   Europe & Central Asia (IDA & IBRD countries)
TGO   Togo
THA   Thailand
TJK   Tajikistan
TKM   Turkmenistan
TLA   Latin America & the Caribbean (IDA & IBRD countries)
TLS   Timor-Leste
TMN   Middle East & North Africa (IDA & IBRD countries)
TON   Tonga
TSA   South Asia (IDA & IBRD)
TSS   Sub-Saharan Africa (IDA & IBRD countries)
TTO   Trinidad and Tobago
TUN   Tunisia
TUR   Turkiye
TUV   Tuvalu
TWN   Taiwan, China
TZA   Tanzania
UGA   Uganda
UKR   Ukraine
UMC   Upper middle income
URY   Uruguay
USA   United States
UZB   Uzbekistan
VCT   St. Vincent and the Grenadines
VEN   Venezuela, RB
VGB   British Virgin Islands
VIR   Virgin Islands (U.S.)
VNM   Vietnam
VUT   Vanuatu
WLD   World
WSM   Samoa
XKX   Kosovo
XZN   Sub-Saharan Africa excluding South Africa and Nigeria
YEM   Yemen, Rep.
ZAF   South Africa
ZMB   Zambia
ZWE   Zimbabwe
299

In [31]:
wb_countries[293]

{'id': 'XKX',
 'iso2Code': 'XK',
 'name': 'Kosovo',
 'region': {'id': 'ECS', 'iso2code': 'Z7', 'value': 'Europe & Central Asia'},
 'adminregion': {'id': 'ECA',
  'iso2code': '7E',
  'value': 'Europe & Central Asia (excluding high income)'},
 'incomeLevel': {'id': 'UMC',
  'iso2code': 'XT',
  'value': 'Upper middle income'},
 'lendingType': {'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'},
 'capitalCity': 'Pristina',
 'longitude': '20.926',
 'latitude': '42.565'}

In [32]:
indicators = {"3.1_RE.CONSUMPTION": "Renewable energy consumption (TJ))"}
data_date = datetime.datetime(2006, 1, 1), datetime.datetime(2016, 12, 31)
energy_europe_2006_2016 = wb.get_dataframe(indicators, data_date = data_date, country = 'XKX')
energy_europe_2006_2016

      Renewable energy consumption (TJ))
date
2016                                 NaN
2015                           11421.650
2014                           11006.460
2013                           10745.580
2012                           10631.140
2011                           10436.990
2010                           10352.040
2009                           10174.590
2008                            9983.425
2007                            9315.328
2006                            9333.067

In [33]:
europe_country = []
for i in wb_countries:
    if i["region"]["value"] == "Europe & Central Asia":
        europe_country.append(i["id"])
print(europe_country)

['ALB', 'AND', 'ARM', 'AUT', 'AZE', 'BEL', 'BGR', 'BIH', 'BLR', 'CHE', 'CHI', 'CYP', 'CZE', 'DEU', 'DNK', 'ESP', 'EST', 'FIN', 'FRA', 'FRO', 'GBR', 'GEO', 'GIB', 'GRC', 'GRL', 'HRV', 'HUN', 'IMN', 'IRL', 'ISL', 'ITA', 'KAZ', 'KGZ', 'LIE', 'LTU', 'LUX', 'LVA', 'MCO', 'MDA', 'MKD', 'MNE', 'NLD', 'NOR', 'POL', 'PRT', 'ROU', 'RUS', 'SMR', 'SRB', 'SVK', 'SVN', 'SWE', 'TJK', 'TKM', 'TUR', 'UKR', 'UZB', 'XKX']

In [34]:
def mkdir(path):
    folder = os.path.exists(path)
    
    if not folder:
        os.makedirs(path)
        print("Successfully create a new folder")
        
    else:
        print("The folder already exists")

file = "./renewable_energy_consumption_europe"
mkdir(file)

Successfully create a new folder

In [35]:
indicators = {"3.1_RE.CONSUMPTION": "Renewable energy consumption (TJ))"}
data_date = datetime.datetime(2006, 1, 1), datetime.datetime(2016, 12, 31)

for wb_countries in europe_country:
    energy_europe_2006_2016 = wb.get_dataframe(indicators, data_date = data_date, country = wb_countries)
    energy_europe_2006_2016.to_csv('./renewable_energy_consumption_europe/' + wb_countries + '_2006_2016.csv')